In [1]:
import pandas as pd
import numpy as np

# 讀取 CSV 檔案並轉換為 DataFrame
df = pd.read_csv('adult.csv')

# 顯示 DataFrame 的前五行數據
print("DataFrame：")
print(df)

# 使用 NumPy 計算薪資的統計數據
salary_values = df['Income'].replace(['>50K', '<=50K'], [55000, 40000])  # 將薪資標籤轉換為數值
salary_mean = np.mean(salary_values)
salary_std = np.std(salary_values)
salary_median = np.median(salary_values)

# 顯示薪資統計數據
print("\n薪資統計數據：")
print(f"平均薪資：{salary_mean}")
print(f"標準差：{salary_std}")
print(f"中位數：{salary_median}")

DataFrame：
        Age          Workclass       Income   Education  Education-Num  \
0      39.0          State-gov   77516.0000   Bachelors           13.0
1      50.0   Self-emp-not-inc   83311.0000   Bachelors           13.0
2      38.0            Private  215646.0000     HS-grad            9.0
3      53.0            Private  234721.0000        11th            7.0
4      28.0            Private  338409.0000   Bachelors           13.0
...     ...                ...          ...         ...            ...
32558  58.0            Private  151910.0000     HS-grad            9.0
32559  22.0            Private  201490.0000     HS-grad            9.0
32560  52.0       Self-emp-inc  287927.0000     HS-grad            9.0
32561   NaN                NaN  189778.3665         NaN            NaN
32562   NaN                NaN  105548.3569         NaN            NaN

            Marital Status          Occupation    Relationship    Race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White
32561                  NaN                 NaN             NaN     NaN
32562                  NaN                 NaN             NaN     NaN

           Sex  Capital Gain  Capital Loss  Hours per Week  Native Country
0         Male        2174.0           0.0            40.0   United-States
1         Male           0.0           0.0            13.0   United-States
2         Male           0.0           0.0            40.0   United-States
3         Male           0.0           0.0            40.0   United-States
4       Female           0.0           0.0            40.0            Cuba
...        ...           ...           ...             ...             ...
32558   Female           0.0           0.0            40.0   United-States
32559     Male           0.0           0.0            20.0   United-States
32560   Female       15024.0           0.0            40.0   United-States
32561      NaN           NaN           NaN             NaN             NaN
32562      NaN           NaN           NaN             NaN             NaN

[32563 rows x 14 columns]

薪資統計數據：
平均薪資：189775.77983365784
標準差：105546.14758192768
中位數：178356.0